bokeh==0.12.13
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
idna==2.6
ijson==2.3
int-date==0.1.8
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.1
nbformat==4.4.0
numpy==1.13.3
pandas==0.21.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.1
requests==2.18.4
six==1.11.0
stockstats==0.2.0
tornado==4.5.2
traitlets==4.3.2
urllib3==1.24.2
